.venv/
__pycache__/
*.pyc

foto_original.jfif
etiqueta_recortada.jpg
etiqueta_rotacionada.jpg
etiqueta_rotacionada_esquerda.jpg
etiqueta_melhorada.jpg
area_item_number.jpg
resultado_ocr.txt
IMG-20260708-WA0014.jpg
IMG-20260811-WA0040.jpg
pk01528.jpg
IMG-20260921-WA0024.jpg
IMG-20260921-WA0025.jpg
testar_amostras.py
resultados_amostras.txt
extrair_etiqueta_backup.py
resultado_teste_*.txt
extrair_etiqueta_v2.py
app_backup.py